.title{
    font-size: 24px;
    font-weight: bold;
}

.articleInfo{
    text-align: left;
    display: flex;
    
}

.newsContainer{
    margin: 10px 0 10px 0px;
    padding: 15px 15px 15px 15px;
    background-color: #202020;
    border-radius: 5px;
}

.title{
    padding: 0 0 0 10px;
    color: white;
    flex-grow: 2;
}

.summary{
    color: white;
    padding: 10px;
}

#newsContainer p:hover{
    text-decoration: underline;
    cursor: pointer;
}

img{
    border-radius: 4px;
    width: 100px;
    height: 75px;
    object-fit: cover;
    cursor: pointer;
}

.smallText{
    font-size: 12px;
}

.orangeButton{
    background-color: #ff8c00;
    height: 50px;
    font-size: 16px;
    padding: 0px 15px 0 15px;
    border: none;
    box-shadow: black;
    border-radius: 5px;
}

.centerVert{
    align-self: center;
}

@keyframes beginDim{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.5;
    }
}

.dim{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.dim:hover{
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;  
    cursor: pointer;
}

