.entertainment{
    background-image: url('../img/entertainment.png');
}

.business{
    background-image: url('../img/business.png');
}

.science{
    background-image: url('../img/science.png');
}

.health{
    background-image: url('../img/health.png');
}
.sports{
    background-image: url('../img/sports.png');
}
.technology{
    background-image: url('../img/technology.png');
}

.trendCard{
    height: 200px;
    width: 200px;
    text-align: center;
    margin: 40px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    
    
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#trending{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
