*{
  margin: 0;
  padding: 0;
}

.App {
  background-color: #2c2c2c;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

#trending{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#trending li{
  list-style-type: none;
}

.container{
  width: 1200px;
}

#search{
  text-align: center;
}

#searchResults{
  text-align: center;
}
